extends ../layouts/layout

block subject
  header#subject.wrap
    h1 Sign in

block content
  section#main.wrap
    form(action="/sessions", method="post")
      ul
        li
          input(type='email', name='email', placeholder='email')
        li
          input(type='password', name='password', placeholder='password')
        li
          input(type="submit") Submit