extends ../layouts/layout

block content
  section#main
    form(action="/sessions", method="post")
      ul
        li
          input(type='email', name='email', placeholder='email')
        li
          input(type='password', name='password', placeholder='password')
        li
          input(type="submit") Submit