extends ../layouts/layout

block subject
  header#subject.wrap
    h1 Sign in

block content
  section#main.wrap
    form(action="/sessions", method="post")
      .clearfix
        input(type='email', name='email', placeholder='email')
      .clearfix
        input(type='password', name='password', placeholder='password')
      .clearfix
        input.btn.primary(type="submit") Submit