extends ../../../shared/views/layout

block content

  section.smallColumn.centered.pushDown
    .column1of2
      p.tac: a.large_logo.block(href='/')
        span.is_hidden Skookum Digital Works

    .column1of2
      h3.micro Please enter your email address and we will send you a new password.
      br
      form(action='/reset', method='post')
        ul
          li
            input.block(type='email', name='email', placeholder="email address..")
        .button-bar
          button(type='submit') Send New Password
          a.micro(href='/register') Cancel
