.container
  padding 15px

.button
  background #666
  color #fff
  border 1px solid transparent
  border-radius 15px
  padding 3px 20px
  font-size 0.9em
  font-weight 200
  cursor pointer
  &:hover
    background #555

section
  h1
    margin-left 10px

.editable
  margin 0
  padding 5px
  border none
  background none
  font-size inherit
  font-weight inherit
  width 100%
