// reset provided by nib

global-reset()

// smacss sections

@import 'base'
@import 'layout'
@import 'module'
@import 'state'
@import 'theme'

// components

@import '../../components/user/styles/main'
@import '../../components/dashboard/styles/main'
@import '../../components/errors/styles/main'