*
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box
  padding 0
  margin 0

@import 'theme'
@import 'mixins'
@import 'library'
@import 'animations'
@import 'containers'
@import 'stacks'
@import 'navbar'
@import 'menubar'
@import 'modal'

// components

@import '../../components/user/styles/main'


ul
  list-style-type none

body
  background #f7f7f7
  font-family helvetica, arial, sans-serif
  font-size 14px
  color #333

h1
  font-weight 100
  color #666
  font-size 32px
  line-height 32px
  &.emptystate
    font-size 50px
    line-height 50px
    color #ddd
    padding 100px
    text-align center
    display none
    &.visible
      display block

a
  text-decoration none
  color inherit
  cursor pointer

.flash-messages
  li
    background #faffbd
    padding 10px 20px
    font-size 14px
    border-bottom solid 1px #ccc

.title-bar
  padding 20px 0

.form-gateway
  width 400px
  padding 15px 30px
  background #fafafa
  box-shadow 0 1px 10px rgba(0, 0, 0, 0.25)
  margin 30px auto
  &.wider
    width 600px

.input-text, .input-textarea
  border-radius 3px
  font-size 18px
  color #666
  padding 10px 20px
  background-color #fff
  width 100%
  margin 0 0 10px 0
  border solid 1px #ddd

.input-textarea
  height 5em

.button-bar
  padding-top 10px
  text-align right
  .micro
    margin-right 20px

.button-submit
  font-size 18px
  padding 10px 20px
  border solid 1px #ddd
  background #eee
  border-radius 3px
  margin 0 0 10px 0
  display inline-block
  transition(all .2s ease-in-out)
  -webkit-transform-style preserve-3d
  &:hover
    background #ddd
  &.warning
    background red
    color white

button, a
  cursor pointer

.dash-header
  width 100%
  background #fff
  padding 20px 20px 10px 20px
  vertical-align bottom

.half-drop
  width 50%
  display inline-block
  vertical-align bottom

.h-menu
  text-align right
  > li
    display inline-block
    margin-right 10px
    > a
      display inline-block

.micro
  font-size 14px
  color #999
  padding 5px

.red
  color red

.padded
  padding 10px

.note
  color #555
  font-size 0.9em
  font-weight 200

.clearfix
  clear both

p.warning
  font-size 1.5em
  color red
  padding 20px 0