*
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

html, body
  min-height 100%

.micro
  padding 5px

.wrap
  absolute top bottom
  left 20% 
  right 20%

.pad
  padding 0.5em

.pad1
  padding 1em

.pad2
  padding 2em

.pushDown
  padding-top 5em

.smallColumn
  width 260px

.column1of3
  width 33%

.centered
  margin 0 auto

.tac
  text-align center

.tal
  text-align left

.tar
  text-align right

.block
  display block

.flash-messages
  position absolute 
  top 0
  left 20%
  right 20%
  margin 0
  z-index 999
  text-align center
  >li
    padding .5em

// forms

input
  padding 0.4em
  
  
  &.block
    width 100%
    margin 0.75em 0

.button-bar
  text-align right
  button
    padding 10px 20px
    margin: 0 0 10px 0
    display: inline-block
  .micro
    margin-right 2em