.wrap
  max-width page_width
  position relative
  margin 0 auto

.pop
  animation pop 250ms ease-out
  -webkit-transform-style preserve-3d

.popSmall
  animation popSmall 250ms ease-out
  -webkit-transform-style preserve-3d

.slide-up
  animation slide-up 250ms ease-out
  -webkit-transform-style preserve-3d

.slide-left
  animation slide-left 250ms ease-in
  -webkit-transform-style preserve-3d

.card-drop
  animation card-drop 250ms ease-out
  -webkit-transform-style preserve-3d

.all_transitions
  transition(all .2s ease-in-out)
  -webkit-transform-style preserve-3d

// button, .button
//   button()