right-arrow(color)
  &:after
    content ''
    position absolute 
    top 0
    bottom 0
    left 100%
    border 1.2em solid transparent
    border-left-color color

.menubar
  background #e5e5e5
  padding 0
  height 40px
  color #111
  //box-shadow 0 0 20px 10px #f7f7f7
  white-space nowrap
  li
    display inline-block

  ul.breadcrumbs
    display none
    &.visible
      display block
    float left
    clear none
    font-size 1.2em
    li:first-child
      padding-left 25px
    li
      padding 10px
      margin-right 20px
      position relative
      cursor pointer
      .status
        background #d3d3d3
        border-radius 20px
        font-size 0.8em
        padding 5px 9px
        margin-left 10px
        text-align center
      .subtext
        position absolute
        top 3.4em
        left 10px
        font-size 12px
        color #999
        font-weight 100
    &.coded
      li:first-child
        background #999
        right-arrow #999
      li:last-child
        background none
      &.threeCrumbs
        li:first-child
          z-index 2
        li:nth-child(2)
          background #aaa
          right-arrow #aaa
          margin-left -20px
          padding-left 35px
          padding-right 15px
          z-index 1
          .status, .subtext
            display none
      &.fourCrumbs
        li:first-child
          z-index 3
        li:nth-child(2)
          background #aaa
          right-arrow #aaa
          margin-left -20px
          padding-left 35px
          padding-right 15px
          z-index 2
          .status, .subtext
            display none
        li:nth-child(3)
          background #bbb
          right-arrow #bbb
          margin-left -20px
          padding-left 35px
          padding-right 15px
          z-index 1
          .status, .subtext
            display none


  ul.actions
    float right
    clear none
    margin 0.5em 1em 0 0
    li
      margin-left 10px


//- 9e9e9e        9f9f9f        a0a0a0
//- a2a2a2        a0a0a0
//- a0a0a0