// VARIABLES
// Common media queries
$mq_phone = "only screen and (max-device-width: 480px)"
$mq_phone_portrait = "only screen and (max-width : 320px)"
$mq_phone_landscape = "@media only screen and (min-width : 321px)"
$mq_tablet = "@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)"
$mq_tablet_portrait = "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)"
$mq_tablet_landscape = "only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)"
$mq_desktop = "only screen and (min-width : 1025px)"
$mq_high_dpi = "(min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx)"


replace(expr, str, val)
  expr = clone(expr)
  for e, i in expr
    if str == e
      expr[i] = val
  expr

alph(color, pct)
  pct = pct / 100 if pct > 1
  if current-property
    val = current-property[1]
    r_g_b = (red(color) green(color) blue(color))
    c = replace(val, '__CALL__', lighten(color, pct))
    add-property(current-property[0], c)
    s('rgba(%s,%s,%s,%s)', r_g_b[0], r_g_b[1], r_g_b[2], pct)
  else
    error('alph() must be used within a property')


// Prefixes the property for various vendors
vendor(prop, args)
  -webkit-{prop} args
  -msie-{prop} args
  -moz-{prop} args
  -o-{prop} args
  {prop} args

// Gradients
two-stop(start, end=start)
  background -moz-linear-gradient(top, start, end 100%)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%,start), color-stop(100%,end))
  background -webkit-linear-gradient(top, start 0%,end 100%)
  background -o-linear-gradient(top, start 0%,end 100%)
  background -ms-linear-gradient(top, start 0%,end 100%)
  filter s("progid:DXImageTransform.Microsoft.gradient( startColorstr='%s', endColorstr='%s',GradientType=0 )",start,end)
  background linear-gradient(top, start 0%,end 100%)

two-stop-position(start, end=start, position)
  background -moz-linear-gradient(top, start, end position)
  background -webkit-gradient(linear, left top, left bottom, color-stop(0%,start), color-stop(position,end))
  background -webkit-linear-gradient(top, start 0%,end position)
  background -o-linear-gradient(top, start 0%,end position)
  background -ms-linear-gradient(top, start 0%,end position)
  background linear-gradient(top, start 0%,end position)

two-stop-left(start, end=start)
  background -moz-linear-gradient(left, start, end 100%)
  background -webkit-gradient(linear, left top, right top, color-stop(0%,start), color-stop(100%,end))
  background -webkit-linear-gradient(left, start 0%,end 100%)
  background -o-linear-gradient(left, start 0%,end 100%)
  background -ms-linear-gradient(left, start 0%,end 100%)
  filter s("progid:DXImageTransform.Microsoft.gradient( startColorstr='%s', endColorstr='%s',GradientType=1 )",start,end)
  background linear-gradient(left, start 0%,end 100%)

two-stop-right(start, end=start, size=100%)
  background -moz-linear-gradient(right, start, end size)
  background -webkit-gradient(linear, right top, right top, color-stop(0%,start), color-stop(size,end))
  background -webkit-linear-gradient(right, start 0%,end size)
  background -o-linear-gradient(right, start 0%,end size)
  background -ms-linear-gradient(right, start 0%,end size)
  filter s("progid:DXImageTransform.Microsoft.gradient( startColorstr='%s', endColorstr='%s',GradientType=1 )",start,end)
  background linear-gradient(right, start 0%,end size)

// Rounded Corners
border-bottom-right-radius(n)
  -webkit-border-bottom-right-radius n
  -moz-border-radius-bottomright n
  border-bottom-right-radius n
border-bottom-left-radius(n)
  -webkit-border-bottom-left-radius n
  -moz-border-radius-bottomleft n
  border-bottom-left-radius n
border-top-right-radius(n)
  -webkit-border-top-right-radius n
  -moz-border-radius-topright n 
  border-top-right-radius n
border-top-left-radius(n)
  -webkit-border-top-left-radius n
  -moz-border-radius-topleft n
  border-top-left-radius n

border-radius(n)
  vendor('border-radius', arguments)

box-shadow(n)
  vendor('box-shadow', arguments)

inner-shadow()
  vendor('box-shadow', unshift(arguments, 'inset'))

// cross-browser inline-block
inline-block()
  display inline-block
  zoom 1
  *display inline
  vertical-align bottom
  bottom 0

user-select(n)
  vendor('user-select', arguments)

// Use with care, not supported in IE < 8
box-sizing(n)
  vendor('box-sizing', arguments)

draggable()
  cursor hand
  cursor grab
  cursor -moz-grab
  cursor -webkit-grab
  &.ui-draggable-dragging
    dragging()
dragging()
  cursor grabbing
  cursor -moz-grabbing
  cursor -webkit-grabbing

// 3D Effects
inset(radius = 15px)
  background rgba(0,0,0,0.1)
  box-shadow 0px 1px 2px #000 inset
  border-radius radius
  &:hover
    background rgba(0,0,0,0.2)

bevel(radius = 15px)
  border 1px solid #333
  &:after
    pointer-events none
    content ""
    position absolute
    top 0
    right 0
    left 0
    bottom 0 
    border-radius radius
    border-bottom 1px solid #555

emboss(radius = 15px)
  border 1px solid #111
  position relative
  &:after
    pointer-events none
    content ""
    position absolute
    top 0
    right 0
    left 0
    bottom 0 
    border-radius radius
    border-top 1px solid #999

column()
  inline-block()
  vertical-align top


// Animations
base_transition()
  transition(visibility .2s ease-in-out .2s)
  transition(opacity .2s ease-in-out .2s)

show_with_transition()
  visibility visible
  opacity 1
  base_transition()

hide_with_transition()
  visibility hidden
  opacity 0
  base_transition()

perspective()
  vendor('perspective', arguments)
transition()
  vendor('transition', arguments)
transform()
  vendor('transform', arguments)
transform-origin()
  vendor('transform-origin', arguments)
transition-property()
  vendor('transition-property', arguments)
transition-duration()
  vendor('transition-duration', arguments)
transition-timing-function()
  vendor('transition-timing-function', arguments)
transform-style()
  vendor('transform-style', arguments)
backface-visibility()
  vendor('backface-visibility', arguments)
transition-delay()
  vendor('transition-delay', arguments)

animation()
  vendor('animation', arguments)
animation-name()
  vendor('animation-name', arguments)
animation-duration()
  vendor('animation-duration', arguments)
animation-timing-function()
  vendor('animation-timing-function', arguments)
animation-delay()
  vendor('animation-delay', arguments)
animation-direction()
  vendor('animation-direction', arguments)
animation-name()
  vendor('animation-name', arguments)