.navbar
  background #ccc
  padding 10px 20px
  position relative

  a.brand
    padding 0
    display inline-block
    font-size 2em
    color #222

  .account
    position absolute
    top 12px
    right 12px
    padding 5px 40px
    z-index 997

    .nav
      position absolute
      top 0
      right 0
      ul
        position absolute
        top 40px
        right -13px
        padding 1px
        background #333
        color #eee
        z-index 999
      li
        border-bottom 1px solid #444
        a
          padding 10px 50px
          display block
        &:last-child
          border-bottom none
        &:hover
          background rgba(255,255,255,0.1)
          

