body
  color #333
  background url('/images/border_dune.jpg') center center repeat-x
  background-size cover

h1
  color #555

a
  color inherit
  text-decoration none
  &:hover
    text-decoration underline

input
  font-size 1.2em
  border solid 1px #bbb
  border-radius 5px

.wrap
  background rgba(255,255,255,0.8)

.micro
  font-size 0.8em
  color #999

button
  font-size 1.25em
  border solid 1px #ddd
  background: #eee
  border-radius: 3px