// palettes

// http://kuler.adobe.com/#themeID/1772538
color1 = #181821
color2 = #272229
color3 = #524740
color4 = #9C855F
color5 = #BF283E

// text colors
light_text = #eee
med_text = #ccc
dark_text = #333