body
  color #333
  background url('/images/border_dune.jpg') center center repeat-x
  background-size cover

h1
  color #555

a
  color inherit
  text-decoration none
  &:hover
    text-decoration underline

input
  font-size 1.2em
  border solid 1px #bbb
  border-radius 5px

input[type=file]
  font-size 16px
  border none
  // padding 0

form
  li
    position relative
    label
      position absolute
      top 0
      left -100%
      text-align right
      width 100%
      padding 10px
      color #777

button
  font-size 1.25em
  border solid 1px #ddd
  background: #eee
  border-radius: 3px

.wrap
  background rgba(255,255,255,0.8)

.micro
  font-size 0.8em
  color #999

.flash-messages
  background #c67315
  color #fff

