#navbar
  position absolute
  top 0
  left 0
  right 0
  background-color #000
  color #fff
  font-size 0.9em
  line-height 0.9em
  text-align right

  h1
    position absolute
    font-size 1.1em
    display block
    margin 0
    padding 0.7em 0

    a
      color #fff
      text-decoration none

  ul.menu
    display inline-block

    .label
      padding-left 15px

    a
      color #bbb
      text-decoration none
      display inline-block
      padding 0.9em 15px

      &:hover
        background-color #333