h2 Account Settings
form(action="/users/update", method="post", enctype="multipart/form-data")
  ul
    li
      label(for="name") Name
      input(type='text', name='name', placeholder='name', value=current_user.name)
    li
      label(for="email") Email
      input(type='email', name='email', placeholder='email', value=current_user.email)
    li
      label(for="about") About Me
      textarea(name='about', placeholder='a little about myself...') #{current_user.about}
    li
      input(type="submit") Submit
