extends ../layouts/layout

block subject
  header#subject.wrap
    h1 Create an account

block content
  section#main.wrap
    form(action="/users", method="post")
      .clearfix
        input(type='text', name='name', placeholder='name')
      .clearfix
        input(type='email', name='email', placeholder='email')
      .clearfix
        input(type='password', name='password', placeholder='password')
      .clearfix
        input.btn.primary(type="submit") Submit