extends ../layouts/layout

block subject
  header#subject
    - if (is_self)
      h1 Profile
    - else
      h1 Profile of #{user.name}

block content
  section#main
    dl
      dt Name:
      dd #{user.name}
      dt About:
      dd #{user.about}