@import 'mixins'
@import 'normalize'

@import 'lists'
@import 'headings'

@import 'messages'
@import 'navbar'

page_width = 930px

body
  padding-top 30px

.wrap
  max-width page_width
  position relative
  margin 0 auto

footer
  background-color #eee
  border solid 1px #ccc
  padding 0

  p
    padding 5px 30px