// Flash messaging styling

#messages
  ul
    text-align center
    margin 0
    padding 5px
    background #9eff5c
    color #222
    font-weight bold
    border 1px solid #999
    border-top none
    margin 0 auto
    box-shadow 0 2px 5px rgba(0,0,0,0.5)
    list-style none
    li
      padding 0
      margin 3px 0
      list-style none
  ul.error
    background #ff2011
    color #eee
    