.navbar
  a.brand(href='/') Base12
  - if (is_logged_in)
    .account 
      p Welcome back, #{current_user.name || current_user.email}
      .nav
        ul
          li
            a(href='/settings') Settings
          li
            a(href='/signout') Logout
