body { padding-top:40px; }

#binder { padding-top:20px; }

.topbar { position:absolute; }
.topbar span.plain { padding:10px 10px 11px; line-height:19px; color:#999; }

.users-env { }
.users-env form { margin:5px 0 50px 0; }