!!! 5
html
  head
    meta(charset="utf-8")
    title
      block title
        = app.constants.title
    block styles
      link(rel='stylesheet', href='/styles/global.css' )

body
  .wrap

    block content

    block foot
      footer.footer
        p &copy;2012 Skookum Digital Works, MIT License.
        p Image by JJ Harrison.

  block scripts