!!! 5
html
  head
    meta(charset="utf-8")
    title
      block title
        | New node project
    block styles
      //link(rel='stylesheet', href='/styles/layout.css' )
      link(rel='stylesheet', href='/vendor/bootstrap/bootstrap.css' )
      link(rel='stylesheet', href='/styles/main.css' )

body(class = (is_logged_in) ? "logged-in" : "not-logged-in")

  #binder.container

    block navbar
      include ../includes/navbar

    != messages()

    block subject
      header#subject
        h1 Node Boilerplate

    block content

    block foot
      footer
        p &copy;2011 Yeah, great footer!

    block scripts