!!! 5
html
  head
    meta(charset="utf-8")
    title
      block title
        | New node project
    block styles
      link(rel='stylesheet', href='/styles/layout.css' )
  
body(class = (is_logged_in) ? "logged-in" : "not-logged-in")
  
  block navbar
    include ../includes/navbar

  != messages()

  block subject
    header#subject.wrap
      h1 Node Boilerplate
  
  block content

  block foot
    footer.wrap
      p &copy;2011 Yeah, great footer!

  block scripts