!!! 5
html
  != partial("components/layout/head")
    
  body(class = (is_logged_in) ? "logged-in" : "not-logged-in")
    
    != messages()

    header
      h1 
        a(href="/") Node Boilerplate
      #account
        - if (is_logged_in)
          aside
            p 
              a(href="/account") Welcome #{current_user.name}
              | &nbsp; - &nbsp; 
              a(href="/logout") Logout
        - else
          aside
            p
              a(href="/sessions/new") Log in
              | &nbsp; or &nbsp; 
              a(href="/users/new") Create Account
    section
      != body  
    != partial("components/layout/foot")
    